* {
  margin: 0px;
  padding: 0px;
}
body{
    background-color:black;
    color: white;
}
#videoPage{
  display:flex;
}
#video-list-container{
  display: flex;
     flex-wrap: wrap;
     word-wrap: wrap;
     flex:0.8;     
}
#icons{
  flex:0.15;
}
#navbar{

  height:50px;
 display:flex;
 background-color: rgb(33,33,33);
 justify-content: space-between;
}
#search-input{
padding:10px;
height:20px;
padding-right: 150px;
margin:4px;
border:none;
border-radius: 10px;
background-color: black;
}
#image{
   height: 40px;
   width:90px;
   border-radius: 10px;
   margin:3px;
}
#sliders{
  margin-top: 2px ;
}
.white{
  background-color: white;
  color:black;
}
.black{
  background-color: black;
  color:white;
}
